{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page">
  <div class="about">
    <div class="about__top">
      {% include "../components/breadcrumbs/breadcrumbs.html" %}
      <h1 class="about__title _title">О нашем магазине</h1>
    </div>
    <div class="about__content content-about">
      <div class="content-about__image">
        <img src="{% static 'theme/mb/images/slide-2.jpg' %}" alt="" />
      </div>
      <div class="content-about__text text">
        <h2>Магазин Florens</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor officia possimus explicabo vitae optio accusantium eius eos
          aperiam voluptatum suscipit, accusamus tempore sint obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor
          officia possimus explicabo vitae optio accusantium eius eos aperiam voluptatum suscipit, accusamus tempore sint obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad architecto nihil culpa debitis quidem. Numquam quibusdam expedita blanditiis praesentium eos nihil eaque
          aut doloribus, mollitia fugiat facere incidunt ut?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor officia possimus explicabo vitae optio accusantium eius eos
          aperiam voluptatum suscipit, accusamus tempore sint obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor
          officia possimus explicabo vitae optio accusantium eius eos aperiam voluptatum suscipit, accusamus tempore sint obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor officia possimus explicabo vitae optio accusantium eius eos
          aperiam voluptatum suscipit, accusamus tempore sint obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor
          officia possimus explicabo vitae optio accusantium eius eos aperiam voluptatum suscipit, accusamus tempore sint obcaecati.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad architecto nihil culpa debitis quidem. Numquam quibusdam expedita blanditiis praesentium eos nihil eaque
          aut doloribus, mollitia fugiat facere incidunt ut?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor officia possimus explicabo vitae optio accusantium eius eos
          aperiam voluptatum suscipit, accusamus tempore sint obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quaerat vel, nulla, deleniti laborum dolor
          officia possimus explicabo vitae optio accusantium eius eos aperiam voluptatum suscipit, accusamus tempore sint obcaecati.
        </p>
      </div>
      <section class="callback">
        <div class="callback__container">
          <div class="callback__row">
            <h2 class="callback__title _title-h2">
              Не нашли то, что искали <br />
              Мы поможем вам в выборе!
            </h2>
            <p class="callback__subtitle">
              Оставьте номер телефона. <br />
              Флорист свяжется с вами и подберет букет по вашему пожеланию.
            </p>
            <button type="button" class="callback__btn" data-popup="callback" aria-label="Заказать обратный звонок">Связаться со мной</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}
