{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page-contact">
	<section class="contact">
		<div class="contact__row">
			<div class="contact__container">
				<div class="contact__row-top">
					<div class="contact__row-label contact__row-dot">
						<h1>Контакты</h1>
					</div>
					<div class="contact__row-questions">
						<p>Остались вопросы ?</p>
					</div>
					
				</div>
				<div class="contact__row-bottom">
					<div class="contact__row-col">
						<span class="contact__row-label">Пишите</span>
						<a href="mailto:florens@mail.ru" class="contact__row-info">florens@mail.ru</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Звоните</span>
						<a href="tel:+79999999999" class="contact__row-info">8 (999) 999-99-99</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Приходите и приезжайте</span>
						<p class="contact__row-info">Россия, г.Город ул.Улица 23</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact__map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac1cf0d6cb1a0a77d749e2c1f0f9e9897a548d46e6449e8291a14966d1c6c5cfd&amp;source=constructor"
				width="100%" height="500" frameborder="0"></iframe>
		</div>
	</section>
</main>

</body>
{% endblock %}