{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page-contact">
	<section class="contact">
		<div class="contact__row">
			<div class="contact__container">
				<div class="contact__row-top">
					<div class="contact__row-label contact__row-dot">
						<h1>Контакты</h1>
					</div>
					<div class="contact__row-questions">
						<p>Остались вопросы ?</p>
					</div>

				</div>
				<div class="advantages__border borderDotted"></div>
				<div class="contact__row-bottom">
					<div class="contact__row-col">
						<span class="contact__row-label">Пишите</span>
						<a href="mailto:{{ site_settings.email }}" class="contact__row-info">{{ site_settings.email }}</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Звоните</span>
						<a href="tel:{{ site_settings.phone }}" class="contact__row-info">{{ site_settings.phone }}</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Приходите и приезжайте</span>
						<p class="contact__row-info">{{ site_settings.address }}</p>
					</div>
				</div>
				<div class="advantages__border borderDotted"></div>
			</div>
		</div>
		<div class="contact__map">
			<div class="contact__container">
				{{ site_settings.map_code|safe }}
			</div>
		</div>
	</section>
</main>

</body>
{% endblock %}