{% extends 'base.html' %} {% load static %} {% block content %}
<main class="page">
  <div class="index-slider">
    <div class="index-slider__slider swiper-container">
      <div class="swiper-wrapper">
        <div class="index-slider__slide swiper-slide"
          style="background-image: url({%static 'theme/mb/images/slide-3.jpg' %})">
          <div class="index-slider__slide-inner">
            <div class="index-slider__content">
              <h1 class="index-slider__title">Скидки 20% на первый заказ</h1>
              <p class="index-slider__subtitle">Действует круглосуточная доставка в любой район города и пригород</p>
              <a href="#" class="index-slider__link _btn">Подробнее об акции</a>
            </div>
          </div>
        </div>
        <div class="index-slider__slide swiper-slide"
          style="background-image: url({%static 'theme/mb/images/slide-2.jpg' %})">
          <div class="index-slider__slide-inner">
            <div class="index-slider__content">
              <h1 class="index-slider__title">Скидки 2q0% на первый заказ</h1>
              <p class="index-slider__subtitle">Действует круглосуточная доставка в любой район города и пригород</p>
              <a href="#" class="index-slider__link _btn">Подробнее об акции</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <button type="button" aria-label="Предыдущий слайд" class="index-slider__prev swiper-button-prev">
        <svg fill="none" viewBox="0 0 88 176" id="css--union-nav" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M37 169a7 7 0 1014 0v-27.785c0-5.845 4.309-10.677 9.684-12.972 15.57-6.649 26.48-22.1 26.48-40.1 0-17.998-10.91-33.45-26.48-40.098C55.31 45.75 51 40.918 51 35.073V7a7 7 0 10-14 0v27.736c0 5.934-4.434 10.811-9.924 13.06C11.19 54.302 0 69.916 0 88.144c0 18.228 11.19 33.842 27.076 40.348 5.49 2.248 9.924 7.126 9.924 13.059V169z"
            fill="#FDFDFD" />
        </svg>
      </button>
      <button type="button" aria-label="Следующий слайд" class="index-slider__next swiper-button-next">
        <svg fill="none" viewBox="0 0 88 176" id="css--union-nav" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M37 169a7 7 0 1014 0v-27.785c0-5.845 4.309-10.677 9.684-12.972 15.57-6.649 26.48-22.1 26.48-40.1 0-17.998-10.91-33.45-26.48-40.098C55.31 45.75 51 40.918 51 35.073V7a7 7 0 10-14 0v27.736c0 5.934-4.434 10.811-9.924 13.06C11.19 54.302 0 69.916 0 88.144c0 18.228 11.19 33.842 27.076 40.348 5.49 2.248 9.924 7.126 9.924 13.059V169z"
            fill="#FDFDFD" />
        </svg>
      </button>
    </div>
  </div>
  <section class="advantages">
    <!-- <h2 class="advantages__title _title-h2">Доставка цветов в Иркутске</h2> -->
    <div class="advantages__border borderDotted"></div>
    <div class="advantages__grid">
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/delivery.svg' %}" alt="" />
        </div>
        <span>Бесплатная доставка</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/bouquet.svg' %}" alt="" />
        </div>
        <span>Всегда только свежие букеты</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/offer.svg' %}" alt="" />
        </div>
        <span>Скидка 10% при регистрации</span>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
  </section>

  <section class="index-catalog">
    <div class="index-catalog__inner">
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">
          Онлайн-витрина
          <!-- <svg fill="none" viewBox="0 0 16 14" id="css--arrow" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M.759 6.638c0-.451.366-.817.817-.817h12.4a.817.817 0 110 1.634h-12.4a.817.817 0 01-.817-.817zm7.675 6.305a.825.825 0 010-1.173l3.749-3.71a2 2 0 000-2.844l-3.75-3.71A.825.825 0 019.595.333l4.935 4.883a2 2 0 010 2.843l-4.935 4.884a.825.825 0 01-1.16 0z"
                fill="#3F3C38" />
            </svg> -->
        </h2>
        <div class="index-catalog__links">
          <a href="#" class="index-catalog__link">Лучшие предложения</a>
          <a href="#" class="index-catalog__link">Выбор покупателей</a>
          <a href="#" class="index-catalog__link">Акции</a>
          <a href="#" class="index-catalog__link">Весь каталог</a>
        </div>
      </div>
      <div class="index-catalog__cards cards-catalog">
        <div class="index-catalog__card card">
          <div class="card__image">
            <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
            <img src="{% static 'theme/mb/images/product-1.jpeg' %}" alt="" />
            <button type="button" class="card__hit">
              <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
            </button>
            <button type="button" class="card__click">Купить в один клик</button>
          </div>
          <div class="card__content">
            <h3 class="card__title-h3">Букет из 17 роз</h3>
            <div class="card__content-bottom">
              <span class="card__price">2500 <span class="currency">₽</span></span>
              <button type="button" class="card__cart">
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </button>
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        <div class="index-catalog__card card">
          <div class="card__image">
            <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
            <img src="{% static 'theme/mb/images/product-1.jpeg' %}" alt="" />
            <button type="button" class="card__hit">
              <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
            </button>
            <button type="button" class="card__click">Купить в один клик</button>
          </div>
          <div class="card__content">
            <h3 class="card__title-h3">Букет из 17 роз</h3>
            <div class="card__content-bottom">
              <span class="card__price">2500 <span class="currency">₽</span></span>
              <button type="button" class="card__cart">
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </button>
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        <div class="index-catalog__card card">
          <div class="card__image">
            <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
            <img src="{% static 'theme/mb/images/product-1.jpeg' %}" alt="" />
            <button type="button" class="card__hit">
              <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
            </button>
            <button type="button" class="card__click">Купить в один клик</button>
          </div>
          <div class="card__content">
            <h3 class="card__title-h3">Букет из 17 роз</h3>
            <div class="card__content-bottom">
              <span class="card__price">2500 <span class="currency">₽</span></span>
              <button type="button" class="card__cart">
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </button>
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        <div class="index-catalog__card card">
          <div class="card__image">
            <img src="{% static 'theme/mb/images/product-2.jpeg' %}" alt="" />
            <img src="{% static 'theme/mb/images/product-1.jpeg' %}" alt="" />
            <button type="button" class="card__hit">
              <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
            </button>
            <button type="button" class="card__click">Купить в один клик</button>
          </div>
          <div class="card__content">
            <h3 class="card__title-h3">Букет из 17 роз</h3>
            <div class="card__content-bottom">
              <span class="card__price">2500 <span class="currency">₽</span></span>
              <button type="button" class="card__cart">
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </button>
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <a href="#" class="index-catalog__link">
        <span>Перейти в каталог</span>
        
      </a> -->
    </div>
  </section>

  <section class="index-category">
    <div class="index-catalog__inner">
      <div class="advantages__border borderDotted"></div>
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">
          Категории
          <!-- <svg fill="none" viewBox="0 0 16 14" id="css--arrow" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M.759 6.638c0-.451.366-.817.817-.817h12.4a.817.817 0 110 1.634h-12.4a.817.817 0 01-.817-.817zm7.675 6.305a.825.825 0 010-1.173l3.749-3.71a2 2 0 000-2.844l-3.75-3.71A.825.825 0 019.595.333l4.935 4.883a2 2 0 010 2.843l-4.935 4.884a.825.825 0 01-1.16 0z"
                fill="#3F3C38" />
            </svg> -->
        </h2>
        <div class="index-catalog__links">
          <a href="#" class="index-catalog__link">Перейти в категории</a>
        </div>
      </div>
      <div class="advantages__border borderDotted"></div>
      <div class="index-category__grid">
        <a href="" class="index-category__item"
          style="background-image: url({% static 'theme/mb/images/slide-2.jpg' %})">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>88 букетов</span>
            </div>
            <h3 class="index-category__title">Монобукеты</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="">
            </div>
          </div>
        </a>
        <a href="" class="index-category__item"
          style="background-image: url({% static 'theme/mb/images/slide-2.jpg' %})">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>88 букетов</span>
            </div>
            <h3 class="index-category__title">Монобукеты</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="">
            </div>
          </div>
        </a>
        <a href="" class="index-category__item"
          style="background-image: url({% static 'theme/mb/images/slide-2.jpg' %})">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>88 букетов</span>
            </div>
            <h3 class="index-category__title">Монобукеты</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="">
            </div>
          </div>
        </a>
        <a href="" class="index-category__item"
          style="background-image: url({% static 'theme/mb/images/slide-2.jpg' %})">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>88 букетов</span>
            </div>
            <h3 class="index-category__title">Монобукеты</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="index-about">
    <div class="advantages__border borderDotted"></div>
    <div class="index-catalog__head">
      <h2 class="index-catalog__title _title-h2">
        О нашем магазине
        <!-- <svg fill="none" viewBox="0 0 16 14" id="css--arrow" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M.759 6.638c0-.451.366-.817.817-.817h12.4a.817.817 0 110 1.634h-12.4a.817.817 0 01-.817-.817zm7.675 6.305a.825.825 0 010-1.173l3.749-3.71a2 2 0 000-2.844l-3.75-3.71A.825.825 0 019.595.333l4.935 4.883a2 2 0 010 2.843l-4.935 4.884a.825.825 0 01-1.16 0z"
                fill="#3F3C38" />
            </svg> -->
      </h2>
      <div class="index-catalog__links">
        <a href="#" class="index-catalog__link">Подробнее</a>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
    <div class="index-about__text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem molestias tempore? Magni omnis
        tempora dicta vitae repudiandae, suscipit quasi facere alias! Temporibus, aperiam porro quibusdam aut doloremque
        id quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum autem in accusamus a iste.
        Consequuntur aut unde consectetur consequatur reprehenderit, facilis qui pariatur! Quam, libero a non corporis
        repellendus molestias!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem molestias tempore? Magni omnis
        tempora dicta vitae repudiandae, suscipit quasi facere alias! Temporibus, aperiam porro quibusdam aut doloremque
        id quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum autem in accusamus a iste.
        Consequuntur aut unde consectetur consequatur reprehenderit, facilis qui pariatur! Quam, libero a non corporis
        repellendus molestias!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem molestias tempore? Magni omnis
        tempora dicta vitae repudiandae, suscipit quasi facere alias! Temporibus, aperiam porro quibusdam aut doloremque
        id quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum autem in accusamus a iste.
        Consequuntur aut unde consectetur consequatur reprehenderit, facilis qui pariatur! Quam, libero a non corporis
        repellendus molestias!
      </p>
      <h3>Заголовок третьего уровня</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem molestias tempore? Magni omnis
        tempora dicta vitae repudiandae, suscipit quasi facere alias! Temporibus, aperiam porro quibusdam aut doloremque
        id quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum autem in accusamus a iste.
        Consequuntur aut unde consectetur consequatur reprehenderit, facilis qui pariatur! Quam, libero a non corporis
        repellendus molestias!
      </p>
    </div>
    <div class="index-about__slider swiper">
      <div class="swiper-wrapper">
        <div class="index-about__slide swiper-slide">
          <img src="{% static 'theme/mb/images/slide-2.jpg' %}" alt="">
        </div>
        <div class="index-about__slide swiper-slide">
          <img src="{% static 'theme/mb/images/slide-2.jpg' %}" alt="">
        </div>
        <div class="index-about__slide swiper-slide">
          <img src="{% static 'theme/mb/images/slide-2.jpg' %}" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!-- <section class="index-reviews">
    <img src="{% static 'theme/mb/images/footer-img.png' %}" alt="" class="index-reviews__image" />
    <img src="{% static 'theme/mb/images/footer-img.png' %}" alt="" class="index-reviews__image" />
    <div class="advantages__border borderDotted"></div>
    <div class="index-catalog__head">
      <h2 class="index-catalog__title _title-h2">
        Отзывы о нашей работе
      </h2>
      <div class="index-catalog__links">
        <a href="#" class="index-catalog__link">Все отзывы</a>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
    <div class="index-reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="index-reviews__slide swiper-slide">
          <div class="reviews">
            <div class="reviews__head">
              <div class="reviews__head-left">
                <h5 class="reviews__name">Ольга</h5>
                <div class="reviews__stars">
                  <div class="reviews__star">
                    <img src="{% static 'theme/mb/images/i-star.svg' %}" alt="Отзыв оставила Ольга" />
                  </div>
                  <div class="reviews__star">
                    <img src="{% static 'theme/mb/images/i-star.svg' %}" alt="Отзыв оставила Ольга" />
                  </div>
                  <div class="reviews__star">
                    <img src="{% static 'theme/mb/images/i-star.svg' %}" alt="Отзыв оставила Ольга" />
                  </div>
                  <div class="reviews__star">
                    <img src="{% static 'theme/mb/images/i-star.svg' %}" alt="Отзыв оставила Ольга" />
                  </div>
                  <div class="reviews__star">
                    <img src="{% static 'theme/mb/images/i-star.svg' %}" alt="Отзыв оставила Ольга" />
                  </div>
                </div>
              </div>
              <div class="reviews__head-right">
                <span class="reviews__date">12.04.2024</span>
                <span class="reviews__time">13:22</span>
              </div>
            </div>
            <div class="reviews__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ex deleniti reprehenderit dolor quos!
              Cupiditate doloremque facere officiis iusto? Soluta!
            </div>
            <a href="#" class="reviews__link">Читать отзыв</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="faq">
    <div class="advantages__border borderDotted"></div>
    <div class="index-catalog__head">
      <h2 class="index-catalog__title _title-h2">
        Вопросы и ответы
      </h2>
      <div class="index-catalog__links">
        <a href="#" class="index-catalog__link">Все отзывы</a>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
    <div class="faq__grid">
      <a href="" class="faq__item">
        Будет ли доставленный букет соответствовать фото на сайте?
        <span>
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </span>
      </a>
      <a href="" class="faq__item">
        Как оплатить заказ? Какие способы оплаты?
        <span>
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </span>
      </a>
      <a href="" class="faq__item">
        Как оформить заказ на доставку цветов?
        <span>
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </span>
      </a>
      <a href="" class="faq__item">
        Читать все вопросы и ответы
        <span>
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </span>
      </a>
    </div>
  </section>

  <section class="callback">
    <div class="callback__container">
      <div class="callback__row">
        <h2 class="callback__title _title-h2">
          Не нашли то, что искали <br />
          Мы поможем вам в выборе!
        </h2>
        <p class="callback__subtitle">
          Оставьте номер телефона. <br />
          Флорист свяжется с вами и подберет букет по вашему пожеланию.
        </p>
        <button type="button" class="callback__btn" aria-label="Заказать обратный звонок">Связаться со мной</button>
      </div>
    </div>
  </section>
</main>
{% endblock %}