{% extends 'base.html' %}
{% block title %}
{% if shop_settings.meta_title %} {{ shop_settings.meta_title }}
{% elif shop_settings.meta_h1 %}
{{ shop_settings.meta_h1 }}
{% else %}
Популярные букеты | Флоренс
{% endif %} {% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% load thumbnail %} {% load static %} {% block content %}

<main class="page">
  <div class="products category-top">
    <div class="products__top title-page">
      <ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumbs__item">
          <a itemprop="item" href="/" title="Главная">
            <span itemprop="name">Главная</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumbs__item">
          <a itemprop="item" href="{% url 'populate' %}" title="Популярные букеты">
            <span itemprop="name">Популярные букеты</span></a>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>
  </div>
  <div class="category-details__row">
    <div class="category-details__col" id="filter-category">
      <button type="button" class="close" id="close-filter">X</button>
      <form action="" method="GET" class="filter form">
        <div class="filter__body">
          <p class="filter__label">Цена:</p>
          <div class="filter-catalog__rows price-filter">
            <div class="price-filter__rows">
              <div class="price-filter__numbers">
                <div class="price-filter__number">
                  <span>От:</span>
                  <input type="number" name="min" id="min" placeholder="{{ min_price_product }}"
                    value="{{ min_price_product }}" />
                </div>
                <span class="price-filter__line"></span>
                <div class="price-filter__number">
                  <span>До:</span>
                  <input type="number" name="max" id="max" placeholder="{{ max_price_product }}"
                    value="{{ max_price_product }}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        {% for char in char_name %}
        <div class="filter__body">
          <p class="filter__label">{{ char.text_name }}:</p>
          {% for char_value in chars %} {% if char_value.char_name.text_name == char.text_name %}
          <div class="form__group-boolean">
            <input type="checkbox" name="{{ char_value.char_name.filter_name }}-{{ char_value.id }}"
              class="form__controls-checkbox filter-checkbox" id="filter-{{ char_value.id }}"
              value="{{ char_value.char_value }}" />
            <label for="filter-{{ char_value.id }}" class="form__boolean-label">
              {{ char_value.char_value }}</label>
          </div>
          {% endif %} {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="form__submit" id="apply-filter">Применить</button>
      </form>
    </div>
    <div class="category-details__col">
      <button type="button" class="category-details__filter">
        <i class="fa-solid fa-arrow-up-wide-short"></i>
      </button>
      <div class="index-catalog__cards cards-catalog">
        {% if products %}
        {% for product in products %} {% include "../includes/product-card.html" with product=product %}
        {% endfor %}
        {% else %}
        <div class="empty-info">
          <p>Товара нет</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</main>

{% endblock %}