{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}{% block content %}
<main class="page">
  <section class="category-details">
    <h1 class="category-details__title _title">Акции</h1>
    <div class="category-details__row">
      <div class="category-details__col" id="filter-category">
        <button type="button" class="close" id="close-filter">X</button>
        <form action="" method="GET" class="filter form">
          <div class="filter__body">
            <p class="filter__label">Цена:</p>
          </div>
          {% for char in char_name %}
          <div class="filter__body">
            <p class="filter__label">{{ char.text_name }}:</p>
            {% for char_value in chars %} {% if char_value.char_name.text_name == char.text_name %}
            <div class="form__group-boolean">
              <input
                type="checkbox"
                name="{{ char_value.char_name.filter_name }}-{{ char_value.id }}"
                class="form__controls-checkbox filter-checkbox"
                id="filter-{{ char_value.id }}"
                value="{{ char_value.char_value }}"
              />
              <label for="filter-{{ char_value.id }}" class="form__boolean-label"> {{ char_value.char_value }}</label>
            </div>
            {% endif %} {% endfor %}
          </div>
          {% endfor %}
          <button type="submit" class="form__submit" id="apply-filter">Применить</button>
        </form>
      </div>
      <div class="category-details__col">
        <button type="button" class="category-details__filter"><i class="fa-solid fa-arrow-up-wide-short"></i></button>
        <div class="index-catalog__cards cards-catalog">
          {% if products %} {% for product in products %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %} {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% endif %} {% endfor %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.png' %}" class="product-click-image" alt="" />
              {% endif %}
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price"
                  ><s>{{ product.price }}</s>
                  <span class="card__price-number">{{ product.sale_price }}</span>
                  <span class="currency">₽</span></span
                >
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                {% if product.quantity_purchase > 10 %}
                <button type="button" class="card__hit">
                  <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
                </button>
                {% endif %} {% if product.discount %}
                <div class="card__stock">-{{ product.discount }}%</div>
                {% endif %}
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <div class="empty-info">
            <p>Товара нет</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
