<tbody>
  <tr>
    <td><strong>Код</strong></td>
    <td><strong>Название процедуры</strong></td>
    <td><strong>Стоимость</strong></td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Ювидерм Ультра 2 ( Аллерган.Франция) 1мл</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Ювидерм Ультра 3 ( Аллерган.Франция) 1мл</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Ювидерм Ультра 4 ( Аллерган.Франция) 1мл</td>
    <td>18000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Ювидерм Ультра Smile ( Аллерган.Франция) 0,5мл</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Стилейдж S « Лаборатория Виваци» Франция 1мл</td>
    <td>15000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Стилейдж M. « Лаборатория Виваци». Франция. Без лидокаина/ с лидокаином</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Стилейдж L. « Лаборатория Виваци». Франция. 1мл </td>
    <td>18000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Белотеро Баланс «Антейс СА». Швейцария.</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Белотеро Волюм .« Антейс СА» . Швейцария</td>
    <td>19000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Белотеро Софт .«Антейс СА». Швейцария.</td>
    <td>15000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Белотеро Софт .( бланш) «Антейс СА». Швейцария.</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Белотеро Липс Шейп/Контур .( бланш) «Антейс СА». Швейцария.</td>
    <td>14000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Теосиаль Реденсити 2( Теоксан . Швейцария) 1мл </td>
    <td>22500 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Теосиаль ультра дип ( Теоксан . Швейцария) 1.2мл </td>
    <td>22500 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Теосиаль RHA1( Теоксан . Швейцария) 1мл </td>
    <td>20000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Теосиаль RHA2( Теоксан . Швейцария) 1мл</td>
    <td>20000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Теосиаль RHA3( Теоксан . Швейцария) 1мл </td>
    <td>20000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Нъювия ЛВ Интенс/ Интенс 1 мл </td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Радиесс 3 мл ( Мерц.Германия) </td>
    <td>40000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Радиесс 1,5мл ( Мерц. Германия) </td>
    <td>21000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Амалайн Софт 1мл. «МКС –Лаборатория». Россия.</td>
    <td>12000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Амалайн медиум 1мл. «МКС –Лаборатория». Россия.</td>
    <td>14000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Амалайн хард 1мл. «МКС –Лаборатория». Россия.</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Арт филлер липс.1мл. «Фул-мед мануфактурес С.А». Бельгия.</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Идэя Реджениал/Супер/Липс1мл. « Реджениал Лабораториес SRL» Франция</td>
    <td>17000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Эвантия15/20/25. «И.Р.А Институто Ричерке Аппликате С.п.а».Италия</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Ай филлер медиум. «Промоиталия».Италия</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Цитосеаль Дип. «Биоксис Фармасьютикалз».Франция</td>
    <td>16000 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Эмла 5 гр</td>
    <td>700 руб.</td>
  </tr>
  <tr>
    <td>А11.01.013</td>
    <td>Канюля</td>
    <td>700 руб.</td>
  </tr>
</tbody>