{% extends "base.html" %} {% load static %} {% load carts_tag %} {% block content %}
<main>
  <section class="order-succes">
    <div class="order-succes__container">
      <div class="order-succes__image error-order">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <!-- <h1 class="order-succes__title">Спасибо</h1> -->
      <p class="order-succes__subtitle">Ошибка оформления заказа</p>
      <div class="order-succes__questions">
        <p class="order-succes__questions-text">Для решения проблемы свяжитесь с нами по номеру телефона ниже или оставьте заявку на сайте</p>
        <div class="order-succes__questions-inner">
          <a href="tel:{{ site_settings.phone }}" class="order-succes__questions-phone">{{ site_settings.phone }}</a>
          <button type="button" class="order-succes__questions-btn"></button>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
