{% extends 'base.html' %} {% block content %}

<section class="login">
  <div class="login__container">
    <div class="login__inner">
      <h1 class="_title-h2">Авторизация</h1>
      <form method="POST" class="form" autocomplete="off">
        {% csrf_token %}
        <div class="form__group">
          <label for="id_login" class="form__label">Имя пользователя<span>:</span></label>
          <input type="text" class="form__controls" name="login" value="" id="id_login" required />
        </div>
        <div class="form__group">
          <label for="id_password" class="form__label">Пароль<span>:</span></label>
          <input type="password" class="form__controls" id="id_password" name="password" placeholder="Введите ваш пароль" required="" />
        </div>
        <button type="submit" class="form__submit">Войти</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
