{% load static %}
<!DOCTYPE html>
<html lang="ru" class="">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- <style>body{opacity: 0;}</style> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'theme/mb/css/main.css' %}" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% comment %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css?_v=20240126172157"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="wrapper">
      {% include "./components/header.html" %}{% block content %}{% endblock %} {% include "./components/footer.html" %} {% include "./components/notification/modal.html" %} {%
      include "./components/mini-cart.html" %}
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        // Optional parameters
        direction: "horizontal",
        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });

      // Ловим собыитие клика по кнопке добавить в корзину
      $(document).on("click", ".add-to-cart", function (e) {
        // Блокируем его базовое действие
        e.preventDefault();

        // Берем элемент счетчика в значке корзины и берем оттуда значение
        var goodsInCartCount = $("#mini-cart-count");
        var cartCount = parseInt(goodsInCartCount.text() || 0);

        // Получаем id товара из атрибута data-product-id
        var product_id = $(this).data("product-id");

        // Из атрибута href берем ссылку на контроллер django
        var add_to_cart_url = $(this).attr("href");
        console.log(add_to_cart_url);

        // делаем post запрос через ajax не перезагружая страницу
        $.ajax({
          type: "POST",
          url: add_to_cart_url,
          data: {
            product_id: product_id,
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
          },
          success: function (data) {
            //alert(data.message);
            $("#notification-modal .success__body").text(data.message);
            $("#notification-modal").addClass("show");

            // Закрытие модального окна после 5 секунд
            setTimeout(function () {
              $("#notification-modal").removeClass("show");
            }, 5000);

            // Увеличиваем количество товаров в корзине (отрисовка в шаблоне)
            cartCount++;
            goodsInCartCount.text(cartCount);

            // Меняем содержимое корзины на ответ от django (новый отрисованный фрагмент разметки корзины)
            var cartItemsContainer = $("#cart-item");
            cartItemsContainer.html(data.cart_items_html);
          },

          error: function (data) {
            console.log("Ошибка при добавлении товара в корзину");
          },
        });
      });
    </script>
    <script>
      $(document).on("click", ".remove-from-cart", function (e) {
        // Блокируем его базовое действие
        e.preventDefault();

        // Берем элемент счетчика в значке корзины и берем оттуда значение
        var goodsInCartCount = $("#mini-cart-count");
        var cartCount = parseInt(goodsInCartCount.text() || 0);

        // Получаем id корзины из атрибута data-cart-id
        var cart_id = $(this).data("cart-id");
        // Из атрибута href берем ссылку на контроллер django
        var remove_from_cart = $(this).attr("href");
        console.log(remove_from_cart);
        console.log($("[name=csrfmiddlewaretoken]").val());
        // делаем post запрос через ajax не перезагружая страницу
        $.ajax({
          type: "POST",
          url: remove_from_cart,
          data: {
            cart_id: cart_id,
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
          },
          success: function (data) {
            // Уменьшаем количество товаров в корзине (отрисовка)
            cartCount -= data.quantity_deleted;
            goodsInCartCount.text(cartCount);

            // Меняем содержимое корзины на ответ от django (новый отрисованный фрагмент разметки корзины)
            var cartItemsContainer = $("#cart-item");
            cartItemsContainer.html(data.cart_items_html);
          },

          error: function (data) {
            console.log("Ошибка при добавлении товара в корзину");
          },
        });
      });
    </script>
    <script>
      // Теперь + - количества товара
      // Обработчик события для уменьшения значения
      $(document).on("click", ".decrement", function () {
        // Берем ссылку на контроллер django из атрибута data-cart-change-url
        var url = $(this).data("cart-change-url");
        // Берем id корзины из атрибута data-cart-id
        var cartID = $(this).data("cart-id");
        // Ищем ближайшеий input с количеством
        var $input = $(this).closest(".mini-cart__counter").find(".number");
        // Берем значение количества товара
        var currentValue = parseInt($input.val());
        // Если количества больше одного, то только тогда делаем -1
        if (currentValue > 1) {
          $input.val(currentValue - 1);
          // Запускаем функцию определенную ниже
          // с аргументами (id карты, новое количество, количество уменьшилось или прибавилось, url)
          updateCart(cartID, currentValue - 1, -1, url);
        }
      });

      // Обработчик события для увеличения значения
      $(document).on("click", ".increment", function () {
        // Берем ссылку на контроллер django из атрибута data-cart-change-url
        var url = $(this).data("cart-change-url");
        // Берем id корзины из атрибута data-cart-id
        var cartID = $(this).data("cart-id");
        // Ищем ближайшеий input с количеством
        var $input = $(this).closest(".mini-cart__counter").find(".number");
        // Берем значение количества товара
        var currentValue = parseInt($input.val());

        $input.val(currentValue + 1);

        // Запускаем функцию определенную ниже
        // с аргументами (id карты, новое количество, количество уменьшилось или прибавилось, url)
        updateCart(cartID, currentValue + 1, 1, url);
      });

      function updateCart(cartID, quantity, change, url) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            cart_id: cartID,
            quantity: quantity,
            csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
          },

          success: function (data) {
            // Изменяем количество товаров в корзине
            var goodsInCartCount = $("#mini-cart-count");
            var cartCount = parseInt(goodsInCartCount.text() || 0);
            cartCount += change;
            goodsInCartCount.text(cartCount);

            // Меняем содержимое корзины
            var cartItemsContainer = $("#cart-item");
            cartItemsContainer.html(data.cart_items_html);
          },
          error: function (data) {
            console.log("Ошибка при добавлении товара в корзину");
          },
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script type="module">
      import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

      const swiper = new Swiper(".index-slider__slider", {
        effect: "fade",
        loop: true,
        navigation: {
          nextEl: ".index-slider__next",
          prevEl: ".index-slider__prev",
        },
      });

      const swiper_reviews = new Swiper(".index-reviews__slider", {
        slidesPerView: 3,
        //slidesPerGroup: 1,
        loop: true,
        navigation: {
          nextEl: ".index-reviews__next",
          prevEl: ".index-reviews__prev",
        },
      });

      const swiper_about = new Swiper(".index-about__slider", {
        slidesPerView: 1,
        //slidesPerGroup: 1,
        loop: true,
        navigation: {
          nextEl: ".index-reviews__next",
          prevEl: ".index-reviews__prev",
        },
        autoplay: {
          delay: 5000,
        },

        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
        },
      });
    </script>
    <script src="{% static 'theme/mb/js/index.js' %}"></script>
  </body>
</html>
