{% extends "base.html" %} {% load static %} {% load carts_tag %} {% block content %}
<main>
  <section class="order-create">
    <div class="order-create__row">
      <div class="order-create__col">
        <h2 class="order-create__title">Оформление заказа</h2>
        <form action="{% url 'order_create' %}" method="POST" class="form">
          {% csrf_token %}
          <div class="form__group">
            <label for="id_first_name" class="form__label">Имя*:</label>
            <input type="text" class="form__controls" id="id_first_name"
              value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name" required />
            {% if form.first_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
            {% endif %}
          </div>
          <div class="form__group">
            <label for="id_last_name" class="form__label">Фамилия*:</label>
            <input type="text" class="form__controls" id="id_last_name" name="last_name"
              value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" required />
            {% if form.last_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
            {% endif %}
          </div>
          <div class="form__group">
            <label for="id_phone_number" class="form__label">Номер телефона*:</label>
            <input type="text" class="form__controls" id="id_phone_number" name="phone_number"
              value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
              placeholder="В формате: XXX-XXX-XX-XX" required />
            {% if form.phone_number.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
            {% endif %}
          </div>
          <div class="form__group">
            <label for="delivery" class="form__label">Способ доставки: </label>
            <div class="form__group-boolean">
              <input class="form__controls-radio" type="radio" name="requires_delivery" id="id_requires_delivery"
                value="1" checked />
              <label class="form__label" for="id_requires_delivery">Нужна доставка</label>
            </div>
            <div class="form__group-boolean">
              <input class="form__controls-radio" type="radio" name="requires_delivery" id="id_requires_delivery"
                value="0" />
              <label class="form__label" for="id_requires_delivery">Самовывоз</label>
            </div>
          </div>
          <div class="form__group" id="deliveryAddressField">
            <label for="form__label" class="form__label">Адрес доставки*:</label>
            <textarea class="form__controls" id="id_delivery_address"
              value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
              name="delivery_address" rows="5"></textarea>
            {% if form.delivery_address.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
            {% endif %}
          </div>
          <div class="form__group">
            <label class="form__label">Способ оплаты: </label>
            <div class="form__group-boolean">
              <input class="form__controls-radio" type="radio" name="payment_on_get" id="id_payment_on_get" value="0"
                checked />
              <label class="form__label" for="id_payment_on_get">Оплата картой</label>
            </div>
            <div class="form__group-boolean">
              <input class="form__controls-radio" type="radio" name="payment_on_get" id="id_payment_on_get" value="1" />
              <label class="form__label" for="id_payment_on_get">Наличными/картой при плучении</label>
              {% if form.payment_on_get.errors %}
              <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
              {% endif %}
            </div>
          </div>
          <button type="submit" class="form__submit">Оформить заказ</button>
        </form>
      </div>
      <div class="order-create__col">
        {% user_carts request as carts %} {% include "../../components/mini-cart.html" %}
      </div>
    </div>
  </section>
</main>
{% endblock %}