// ._btn
._btn {}

._title-h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

section {
  padding: 60px 0px;

  &:nth-child(odd) {
    background-color: $white;
  }

  &:nth-child(even) {}
}