// ._btn
._btn {}

._title-h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

section {
  padding: 60px 0px;

  &:nth-child(odd) {
    background-color: $white;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba($color: $mainColor, $alpha: .1);
  }

  &:nth-child(even) {}
}