.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px 0 36px;

  // .topHeader__contact

  &__contact {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .topHeader__contact-link

  &__contact-link {
    display: flex;
    align-items: center;

    img {
      width: 12px;
      opacity: .8;
      margin-right: 10px;
    }

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 136%;
      color: #ada9a0;
    }
  }

  // .topHeader__list

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    li {

      a {
        font-size: 12px;
        font-weight: 600;
        color: #ada9a0;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  margin: 12px 10px;
  border-radius: 50px;
  padding: 15px 26px;
  box-shadow: 0 20px 60px 2px rgba(149, 144, 135, .15);
  position: sticky;
  top: 20px;
  z-index: 99;

  // .header__left

  &__left {
    display: flex;
    align-items: center;
  }

  // .header__text

  &__text {
    display: none;
    font-family: $fontTitle;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
    gap: 5px;

    li {
      a {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 10px;
        border-radius: 10px;
        transition: $animation_speed;

        &:hover {
          background-color: #f4f1ea;
        }
      }
    }
  }

  // .header__logo

  &__logo {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);

    img {
      min-height: 80px;
    }
  }

  // .header__right

  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  // .header__action

  &__action {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 20px;
    }
  }

  // .header__action-btn
  &__action-btn {
    position: relative;
  }

  .no-empty {
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    background-color: #d71635;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}