.header {
  background-color: $white;

  // .header__container

  &__container {
    width: 100%;
  }

  // .header__top

  &__top {}

  // .header__middle

  &__middle {}

  // .header__bottom

  &__bottom {}
}

.top-header {

  border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);

  // .top-header__inner
  &__inner {
    display: flex;
    align-items: center;
  }

  // .top-header__menu
  &__menu {
    flex: 1 1 auto;
  }

  // .top-header__list

  &__list {
    display: flex;

    li+li {
      margin-left: 32px;
    }

    a {
      display: inline-block;
      padding: 15px 0px;
      font-size: 14px;
      transition: $animation_speed;

      @media (hover) {
        &:hover {
          color: #F26A7E;
        }
      }
    }
  }

  // .top-header__contact

  &__contact {
    display: flex;
    align-items: center;

    &+& {
      margin-left: 5rem;
    }

    a {
      font-weight: 600;
      color: rgba($color: $mainColor, $alpha: .7);
    }
  }

  // .top-header__icon

  &__icon {
    width: 18px;
    height: 18px;
    opacity: .8;
    margin-right: 10px;
  }
}

.middle-header {
  padding: 20px;
  border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);


  // .middle-header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .middle-header__logo

  &__logo {
    width: 200px;

    img {
      max-width: 100%;
    }
  }

  // .middle-header__search

  &__search {
    border: 1px solid rgba($color: $mainColor, $alpha: .3);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;

    @media screen and (min-width: 680px) {
      min-width: 650px;
    }

    input[type="search"] {
      width: 100%;
      height: 50px;
      padding: 0px 20px;

      &:focus {
        outline-color: rgba($color: $mainColor, $alpha: .3);
      }
    }

    button {
      background-color: #FFDDE2;
      height: 50px;
      width: 150px;
      border-left: 1px solid rgba($color: $mainColor, $alpha: .3);
      color: rgba($color: $mainColor, $alpha: .8);
      transition: .2s;

      @media (hover) {
        &:hover {
          background-color: #F26A7E;
          color: $white;
        }
      }
    }
  }

  // .middle-header__actions
  &__actions {
    display: flex;
    align-items: center;

    a+a {
      margin-left: 20px;
    }
  }

  // .middle-header__favorit
  &__favorit {
    margin-top: 4px;
  }

  // .middle-header__cart
  &__cart {}
}

.bottom-header {

  // .bottom-header__inner
  &__inner {}

  // .bottom-header__nav

  &__nav {}

  // .bottom-header__list

  &__list {
    display: flex;
    align-items: center;

    li+li {
      margin-left: 32px;
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: 20px 0px;
      font-weight: 500;
      color: rgba($color: $mainColor, $alpha: .8);
      transition: $animation_speed;

      @media (hover) {
        &:hover {
          color: #F26A7E;
        }
      }
    }
  }
}