.index-reviews {
  position: relative;

  // .index-reviews__image

  &__image {
    &:nth-child(1) {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: .5;
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      opacity: .5;
    }
  }

  // .index-reviews__container

  &__container {}

  // .index-reviews__title

  &__title {
    margin-bottom: 30px;
  }

  // .index-reviews__slider

  &__slider {}

  // .index-reviews__slide

  &__slide {}


}