.order-create {
  padding: 60px 60px;
  // .order-create__row

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  // .order-create__col

  &__col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgba($color: $white, $alpha: 1.0);
    padding: 25px;
    border-radius: 26px;
  }

  // .order-create__title

  &__title {
    font-size: 45px;
    text-align: center;
    line-height: 150%;
  }
}

#contact-human {
  display: none;

  &._show {
    display: flex;
  }
}


#address-delivery {
  &.hidden {
    display: none;
  }
}