.content {
  display: flex;
  // height: 100vh;
  overflow: hidden;
  background-color: #f4f6fa;

  // .content__inner
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}