.sidebar {
  width: 15%;
  min-width: 250px;
  height: calc(100vh - 0px);
  border-right: 1px solid rgba($color: #38353c, $alpha: .3);
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: $bodyColor, $alpha: 1.0);

  /* Работает в Chrome, Edge и Safari */
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(37, 55, 70, .1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 20px;
    border: 3px solid rgba(37, 55, 70, .1);
  }

  // .sidebar__logo
  &__logo {
    width: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      max-width: 100%;
    }
  }

  // .sidebar__drop
  &__drop {}

  // .sidebar__item
  &__item {
    display: grid;
    cursor: pointer;
    transition: .5s;

    &+& {
      margin-top: 5px;
    }

    svg {
      fill: rgba($color: $accent, $alpha: 1.0)
    }

    &._active {
      .sidebar__title {

        svg,
        path {
          fill: #38353c;
        }
      }

      .sidebar__subitem {
        height: 100%;
      }
    }

    &:hover {
      .sidebar__title {

        color: rgba($color: $accent, $alpha: 1.0);

        svg,
        path {
          fill: rgba($color: $accent, $alpha: 1.0);
        }
      }
    }
  }

  // .sidebar__title
  &__title {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    color: rgba($color: $linkColor, $alpha: 1);

    svg,
    path {
      fill: rgba($color: $linkColor, $alpha: 1.0);
    }
  }

  // .sidebar__subitem
  &__subitem {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    padding-left: 15px;
    transition: .3s;
  }

  // .sidebar__link
  &__link {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 4px;
    transition: .5s;
    color: rgba($color: $linkColor, $alpha: 1.0);

    &:hover {
      color: rgba($color: $accent, $alpha: 1.0);
    }
  }
}

.dropdownContent {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.hidden {
  display: none;
}