{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}{% block content %}
<main class="page page-stock">
  <section class="category-details">
    <div class="category-details__row category-details__row-onecol">
      <div class="category-details__col">
        <button type="button" class="category-details__filter">Фильтр</button>
        {% if populate %}
        <h2 class="category-details__title">Популярные букеты</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in populate %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %} {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% endif %} {% endfor %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" class="product-click-image" />
              {% endif %}
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price"
                  ><s>{{ product.price }}</s>
                  <span class="card__price-number">{{ product.sale_price }}</span>
                  <span class="currency">₽</span></span
                >
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                {% if product.quantity_purchase > 10 %}
                <button type="button" class="card__hit">
                  <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
                </button>
                {% endif %} {% if product.discount %}
                <div class="card__stock">-{{ product.discount }}%</div>
                {% endif %}
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if news %}
        <h2 class="category-details__title">Новинки</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in news %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %} {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% endif %} {% endfor %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" class="product-click-image" />
              {% endif %}
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price"
                  ><s>{{ product.price }}</s>
                  <span class="card__price-number">{{ product.sale_price }}</span>
                  <span class="currency">₽</span></span
                >
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                {% if product.quantity_purchase > 10 %}
                <button type="button" class="card__hit">
                  <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
                </button>
                {% endif %} {% if product.discount %}
                <div class="card__stock">-{{ product.discount }}%</div>
                {% endif %}
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% if free_delivery %}
        <h2 class="category-details__title">Букеты с бесплатной доставкой</h2>
        <div class="index-catalog__cards cards-catalog">
          {% for product in free_delivery %}
          <div class="index-catalog__card card">
            <div class="card__image">
              {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %} {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
              {% endthumbnail %} {% endif %} {% endfor %} {% else %}
              <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" class="product-click-image" />
              {% endif %}
              <button type="button" class="card__click" id="one-click">Купить в один клик</button>
            </div>
            <div class="card__content">
              <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
              <div class="card__content-bottom">
                {% if product.sale_price %}
                <span class="card__price"
                  ><s>{{ product.price }}</s>
                  <span class="card__price-number">{{ product.sale_price }}</span>
                  <span class="currency">₽</span></span
                >
                {% else %}
                <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
                {% endif %}
                <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
                </a>
                {% if product.quantity_purchase > 10 %}
                <button type="button" class="card__hit">
                  <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
                </button>
                {% endif %} {% if product.discount %}
                <div class="card__stock">-{{ product.discount }}%</div>
                {% endif %}
                <button type="button" class="card__favorit">
                  <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}
