<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
    Главная
    <meta itemprop="position" content="1" />
  </a>
  <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
    Акции
    <meta itemprop="position" content="2" />
  </a>
  <span itemprop="name" class="breadcrumbs__item">
    О нас
    <meta itemprop="position" content="3" />
  </span>
</div>
