@charset "UTF-8";

.lock body {
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper > main {
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 1440px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

/*
    Подключение базовых стилей
*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #253746;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

html.lock body {
  overflow: hidden;
  position: relative;
}

html.lock body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(37, 55, 70, 0.2);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.pagging__arrow {
  font-size: 25px;
  opacity: 0.7;
}

.pagging__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pagging__list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 4px;
}

.pagging__item._active {
  background-color: #e76642;
  color: #ffffff;
}

/*
    Подключение стилей отдельных страниц
*/

.products__title {
  font-size: clamp(35px, 5.5vw, 80px);
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-top: 50px;
}

.products__subtitle {
  max-width: 600px;
  text-wrap: balance;
  text-align: center;
  line-height: 150%;
  color: rgba(37, 55, 70, 0.8);
}

.single-content {
  display: flex;
  gap: 40px;
}

.products-single {
  width: 100%;
}

.products-single__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px;
}

.aside {
  min-width: 290px;
  height: 100%;
  overflow-y: auto;
  padding: 30px 20px;
  position: sticky;
  top: 20px;
  box-shadow: 0px 0px 10px rgba(37, 55, 70, 0.1);
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 8px;
}

.aside::-webkit-scrollbar {
  width: 6px;
  /* ширина всей полосы прокрутки */
}

.aside::-webkit-scrollbar-track {
  background: rgba(37, 55, 70, 0.03);
  border-radius: 2px;
  /* цвет зоны отслеживания */
}

.aside::-webkit-scrollbar-thumb {
  background-color: #e76642;
  border-radius: 2px;
  /* цвет бегунка */
}

.aside__options:not(:last-child) {
  margin-bottom: 20px;
}

.aside__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 140%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(37, 55, 70, 0.2);
}

.aside__filter {
  max-height: 600px;
}

.aside__item {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.aside__item._active {
  background-color: #e76642;
  color: #ffffff;
}

.day-single__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.day-single__days {
  flex: 1 1 auto;
  box-shadow: 0 0 4px 2px rgba(37, 55, 70, 0.05);
  border: 1px solid rgba(37, 55, 70, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
}

.day-single__day {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.5s;
}

.day-single__day._active {
  background-color: #e76642;
  color: #ffffff;
  font-weight: 600;
}

.day-single__btn {
  position: relative;
  box-shadow: 0 0 4px 2px rgba(37, 55, 70, 0.05);
  border: 1px solid rgba(37, 55, 70, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  transition: 0.5s;
}

.day-single__btn i {
  transition: 0.5s;
  transition-delay: 0.3s;
}

.day-single__btn._active {
  color: #e76642;
}

.stock__title {
  margin-bottom: 40px;
}

.stock__inner {
  display: grid;
  gap: 40px;
}

.stock__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  box-shadow: 0px 0px 4px rgba(37, 55, 70, 0.1);
  border: 1px solid rgba(37, 55, 70, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.stock__row:nth-child(odd) .stock__col:nth-child(1) {
  order: 0;
}

.stock__row:nth-child(odd) .stock__col:nth-child(2) {
  order: 1;
  background-color: white;
  padding: clamp(15px, 2.5vw, 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stock__row:nth-child(even) .stock__col:nth-child(2) {
  order: 0;
  background-color: white;
  padding: clamp(15px, 2.5vw, 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stock__row:nth-child(even) .stock__col:nth-child(1) {
  order: 1;
}

.stock__image {
  position: relative;
  height: 100%;
}

.stock__image img {
  max-width: 100%;
}

.stock__col-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 15px;
}

.stock__col-text {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
}

.stock__col-link {
  position: relative;
  display: inline-grid;
  line-height: 150%;
  font-weight: 900;
  font-size: 18px;
  color: #e76642;
  transition: 0.5s;
}

.stock__col-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #e76642;
  transition: 0.5s;
  z-index: 0;
}

.product-page__row {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.product-page__image {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 10px;
}

.product-page__image img {
  object-fit: cover;
  border-radius: 10px;
}

.product-page__head {
  display: flex;
  align-items: center;
}

.product-page__title {
  margin-bottom: 30px;
}

.product-page__text p {
  line-height: 120%;
}

.product-page__text-full {
  margin-top: 40px;
}

.product-page__label {
  display: block;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
  color: rgba(37, 55, 70, 0.7);
}

.product-page__price {
  margin-top: 20px;
}

.product-page__price p {
  font-size: 22px;
  font-weight: 600;
}

.nutritional {
  margin-top: 20px;
}

.nutritional__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 30px;
}

.nutritional__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  box-shadow: 0 0 4px 2px rgba(37, 55, 70, 0.05);
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 6px;
}

.nutritional__meaning {
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
}

.nutritional__name {
  color: rgba(37, 55, 70, 0.6);
}

.product-related__title {
  margin-bottom: 30px;
}

.product-related__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}

.service-page {
  background-color: #fff;
}

.service-page .products__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}

.body-service {
  background-color: #f3f3f3;
  position: relative;
  padding: 250px 0px;
}

.body-service__separator {
  position: absolute;
  top: 0;
  left: 0;
}

.body-service__row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.body-service__col:first-child .body-service__image img {
  width: 650px;
  height: 650px;
}

.body-service__col:last-child {
  margin-top: 20px;
}

.body-service__col:last-child .body-service__image img {
  width: 350px;
  height: 350px;
}

.body-service__image img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.body-service__image span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin: 10px 0px 0px;
}

.body-service__title {
  margin-bottom: 20px;
}

.body-service__subtitle {
  margin-bottom: 50px;
}

.body-service__btn {
  margin-top: 40px;
  background-color: #e76642;
  width: 290px;
  height: 50px;
  color: #ffffff;
  border-radius: 4px;
}

.about__row {
  display: flex;
  gap: 30px;
}

.about__col {
  flex: 1 1 50%;
}

.about__title {
  margin-bottom: 20px;
}

.about__subtitle {
  font-size: 20px;
  line-height: 140%;
  max-width: 550px;
  text-wrap: balance;
  color: rgba(37, 55, 70, 0.7);
}

.about__text p + p {
  margin-top: 20px;
}

.about .body-service__row {
  padding: 120px 0px 60px;
}

.text {
  font-size: 17px;
  line-height: 150%;
  color: rgba(37, 55, 70, 0.8);
}

.service-page__item {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(37, 55, 70, 0.1);
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 6px;
}

.service-page__icon {
  margin-right: 10px;
}

/*
    Подключение стилей отдельных блоков
*/

.header {
  background-color: #ffffff;
}

.header__container {
  width: 100%;
}

.top-header {
  border-bottom: 1px solid rgba(37, 55, 70, 0.1);
}

.top-header__inner {
  display: flex;
  align-items: center;
}

.top-header__menu {
  flex: 1 1 auto;
}

.top-header__list {
  display: flex;
}

.top-header__list li + li {
  margin-left: 32px;
}

.top-header__list a {
  display: inline-block;
  padding: 15px 0px;
  font-size: 14px;
  transition: 0.5s;
}

.top-header__contact {
  display: flex;
  align-items: center;
}

.top-header__contact + .top-header__contact {
  margin-left: 5rem;
}

.top-header__contact a {
  font-weight: 600;
  color: rgba(37, 55, 70, 0.7);
}

.top-header__icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  margin-right: 10px;
}

.middle-header {
  padding: 20px;
  border-bottom: 1px solid rgba(37, 55, 70, 0.1);
}

.middle-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-header__logo {
  width: 200px;
}

.middle-header__logo img {
  max-width: 100%;
}

.middle-header__search {
  border: 1px solid rgba(37, 55, 70, 0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.middle-header__search input[type=search] {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
}

.middle-header__search input[type=search]:focus {
  outline-color: rgba(37, 55, 70, 0.3);
}

.middle-header__search button {
  background-color: #FFDDE2;
  height: 50px;
  width: 150px;
  border-left: 1px solid rgba(37, 55, 70, 0.3);
  color: rgba(37, 55, 70, 0.8);
  transition: 0.2s;
}

.middle-header__actions {
  display: flex;
  align-items: center;
}

.middle-header__actions a + a {
  margin-left: 20px;
}

.middle-header__favorit {
  margin-top: 4px;
}

.bottom-header__list {
  display: flex;
  align-items: center;
}

.bottom-header__list li + li {
  margin-left: 32px;
}

.bottom-header__list a {
  display: inline-flex;
  align-items: center;
  padding: 20px 0px;
  font-weight: 500;
  color: rgba(37, 55, 70, 0.8);
  transition: 0.5s;
}

main {
  position: relative;
}

section {
  padding: clamp(30px, 3vw, 50px) 0px;
}

._title {
  line-height: 110%;
  font-weight: 600;
  font-size: clamp(35px, 2.5vw, 45px);
  position: relative;
  z-index: 2;
}

.title--dark {
  line-height: 110%;
  font-weight: 600;
  font-size: clamp(35px, 2.5vw, 45px);
}

.single-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin: 20px 15px 0px;
}

.single-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 55, 70, 0.5);
  z-index: 0;
}

.single-banner ._title {
  color: #ffffff;
}

.single-banner .breadcrumbs {
  color: #ffffff;
}

.single-banner .breadcrumbs__item::after {
  background-color: #ffffff !important;
}

/*
    Подключение стилей отдельных компонентов
*/

.search {
  position: absolute;
  top: 0%;
  background-color: white;
  border-radius: 8px;
  left: 0;
  width: 0%;
  z-index: 10;
  transition: 0.5s;
  overflow: hidden;
  pointer-events: none;
}

.search._active {
  width: 100%;
  pointer-events: all;
}

.search form {
  display: flex;
}

.search form input {
  font-size: 18px;
  border-bottom: 1px solid rgba(37, 55, 70, 0.3);
}

.search form button {
  width: 150px;
  background-color: #e76642;
  color: #ffffff;
  border-radius: 0px 8px 8px 0px;
}

.filter-sort {
  position: absolute;
  top: 180%;
  margin-top: 10px;
  right: 0;
  width: 290px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 19;
}

.filter-sort._active {
  top: 100%;
  pointer-events: all;
  opacity: 1;
}

.filter-sort__value {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.filter-sort__value:hover {
  color: #e76642;
}

.filter-sort__value._active {
  background-color: #e76642;
  color: white;
}

.price-input__fields {
  display: flex;
  align-items: center;
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.price-input__field input[type=number] {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid rgba(37, 55, 70, 0);
  color: #253746;
  background-color: transparent;
  appearance: none;
}

.price-input__field input[type=number]:focus {
  outline: none;
}

.price-input .separator {
  display: block;
  width: 1px;
  height: 40px;
  margin: 0px 1px;
  background-color: rgba(37, 55, 70, 0.1);
}

.price-input__slider {
  margin-top: 20px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background-color: rgba(37, 55, 70, 0.1);
}

.price-input__progress {
  height: 5px;
  position: absolute;
  left: 25%;
  right: 25%;
  border-radius: 5px;
  background-color: #e76642;
}

.price-input__range {
  position: relative;
}

.price-input__range input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  appearance: none;
  pointer-events: none;
}

.price-input__range input::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  pointer-events: auto;
  appearance: none;
  border: none;
  background-color: #e76642;
}

.form-controls {
  background-color: transparent;
  padding: 0px 20px;
  width: 100%;
  height: 50px;
  font-size: 14px;
}

.form-controls:focus {
  border-color: #253746;
  outline: none;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  margin: 0px 10px;
  background-color: #253746;
}

.breadcrumbs__item:last-child {
  font-weight: 600;
}

.page-contact .contact__title {
  text-align: center;
}

.contact__title {
  margin-bottom: 40px;
}

.contact__row {
  display: flex;
  gap: 20px;
}

.contact__col {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(37, 55, 70, 0.1);
  border: 1px solid rgba(37, 55, 70, 0.1);
}

.contact__map {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(37, 55, 70, 0.1);
  border: 1px solid rgba(37, 55, 70, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}

.contact-info__row {
  padding: 30px 0px;
}

.contact-info__row:not(:last-child) {
  border-bottom: 1px solid rgba(37, 55, 70, 0.1);
}

.contact-info__icon {
  font-size: 20px;
  color: #e76642;
  margin-bottom: 10px;
}

.contact-info__content {
  line-height: 140%;
  font-weight: 600;
}

.form__form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group:not(:last-child) {
  margin-bottom: 25px;
}

.form__group label {
  line-height: 140%;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__group label.require::before {
  content: "*";
  font-size: 12px;
  color: #e76642;
  margin-right: 7px;
}

.form__controls {
  width: 100%;
  padding: 17px 20px;
  border: 1px solid rgba(37, 55, 70, 0.2);
  border-radius: 4px;
}

.form__controls:focus {
  outline: none;
  border-color: rgba(37, 55, 70, 0.5);
}

.form__controls::placeholder {
  font-size: 13px;
}

.form__btn {
  background-color: #e76642;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
}

.form__agree {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.form__agree input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid rgba(37, 55, 70, 0.2);
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.form__agree input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #e76642;
  transform: scale(0);
  transition: 0.5s;
}

.form__agree input[type=checkbox]:checked {
  border-color: #e76642;
}

.form__agree input[type=checkbox]:checked::before {
  transform: scale(1);
}

.form__agree label {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .product-page__image img {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 611px) {
  .stock__image {
    padding: 0px 0px 50%;
  }

  .stock__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 680px) {
  .middle-header__search {
    min-width: 650px;
  }
}

@media screen and (min-width: 768px) {
  .product-page__image {
    flex: 0 0 50%;
  }

  .product-page__content {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 920px) {
  .contact__col {
    width: 50%;
  }
}

@media (hover: hover) {
  .aside__item:hover {
    color: #e76642;
  }

  .day-single__day:not(._active):hover {
    color: #e76642;
  }

  .day-single__btn:hover {
    color: #e76642;
  }

  .stock__col-link:hover {
    opacity: 0.8;
  }
}

@media (hover) {
  .top-header__list a:hover {
    color: #F26A7E;
  }

  .middle-header__search button:hover {
    background-color: #F26A7E;
    color: #ffffff;
  }

  .bottom-header__list a:hover {
    color: #F26A7E;
  }
}
/*# sourceMappingURL=maps/main.css.map */
