{% extends 'admin_base.html' %} {% block body %}
<div class="page">
  <div class="page__inner">
    <h1 class="page__title">{{ product.name }}</h1>
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-inner">
          <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-name="seo" class="page__head-btn">SEO</button>
          <button type="button" data-name="char" class="page__head-btn">Характеристики</button>
        </div>
        <button type="submit" class="form__btn">Сохранить</button>
      </div>
      {% csrf_token %}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            <div class="form__group">
              <label for="{{ form.name.id_for_label }}" class="form__controls-label"><span>*</span>Название букета</label>
              {{ form.name }} {{ form.name.errors }}
            </div>

            <div class="form__group">
              <label for="{{ form.composition.id_for_label }}" class="form__controls-label"> Состав букета </label>
              {{ form.composition }} {{ form.composition.errors }}
            </div>

            <div class="form__group">
              <label for="{{ form.description.id_for_label }}" class="form__controls-label"> Полное описание </label>
              {{ form.description }} {{ form.description.errors }}
            </div>
            <div class="form__grid">
              <div class="form__group">
                <label for="{{ form.diameter.id_for_label }}" class="form__controls-label"> Диаметр </label>
                {{ form.diameter }} {{ form.diameter.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.width.id_for_label }}" class="form__controls-label"> Ширина </label>
                {{ form.width }} {{ form.width.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.height.id_for_label }}" class="form__controls-label"> Высота </label>
                {{ form.height }} {{ form.height.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.price.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Цена
                </label>
                {{ form.price }} {{ form.price.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.sale_price.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Цена со скидкой
                </label>
                {{ form.sale_price }} {{ form.sale_price.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.quantity_purchase.id_for_label }}" class="form__controls-label"> Количество купленных </label>
                {{ form.quantity_purchase }} {{ form.quantity_purchase.errors }}
              </div>

              <div class="form__group">
                <label for="{{ form.discount.id_for_label }}" class="form__controls-label"> Скидка в (<span>%</span>) </label>
                {{ form.discount }} {{ form.discount.errors }}
              </div>
              <div class="form__group">
                <label for="{{ form.slug.id_for_label }}" class="form__controls-label"> Количество товара в наличии </label>
                {{ form.quantity }} {{ form.quantity.errors }}
              </div>
            </div>
          </div>
          <div class="page-content__col">
            <div class="form__group">
              <label for="{{ form.slug.id_for_label }}" class="form__controls-label">
                <span>*</span>
                URL
              </label>
              {{ form.slug }} {{ form.slug.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.category.id_for_label }}" class="form__controls-label">Выбор категории</label>
              {{ form.category }} {{ form.category.errors }}
            </div>
            <div class="form__group form__group-image">
              <label for="{{ form.image.id_for_label }}" class="form__controls-label">Выбор изображения товара</label>
              {{ form.image.src }} {{ form.image }} {{ form.image.errors }}
            </div>
            <div class="form__group-checkbox">
              {{ form.latest }} {{ form.latest.errors }}
              <label for="{{ form.latest.id_for_label }}" class="form__controls-label"> Новинка ? </label>
            </div>
            <div class="form__group-checkbox">
              {{ form.free_shipping }} {{ form.free_shipping.errors }}
              <label for="{{ form.free_shipping.id_for_label }}" class="form__controls-label"> Бесплатная доставка ? </label>
            </div>

            <div class="form__group-checkbox">
              {{ form.status }} {{ form.status.errors }}
              <label for="{{ form.status.id_for_label }}" class="form__controls-label"> Опубликовать ? </label>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <!-- SEO страницы -->
        <div class="page-content__row">
          <div class="page-content__seo">
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1 <span>:</span> </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                Мета описание <span> :</span>
                <div class="meta-lenght">0</div>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета keywords </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
