{% load static %}
<footer class="footer">
  <div class="footer__row">
    <div class="footer__col">
      <a href="/" class="footer__logo">
        <img src="{{ site_settings.logo.url }}" alt="" />
      </a>
      <div class="footer__address">
        <p class="footer__country">Россия, г.Город</p>
        <p class="footer__street">ул.Улица 23</p>
      </div>
      <a href="#" class="footer__phone">+7 (999) 999-99-99</a>
      <a href="mailto:info@florens.ru" class="footer__email">info@florens.ru</a>
      <button type="button" aria-label="заказать обратный звонок">Заказать звонок</button>
    </div>
    <div class="footer__col">
      <h3 class="footer__title">О компании</h3>
      <ul class="footer__list">
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Гарантии</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Вопросы-ответы</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__title">Каталог</h3>
      <ul class="footer__list">
        <li><a href="#">Акци</a></li>
        <li><a href="#">Розы</a></li>
        <li><a href="#">Букеты</a></li>
        <li><a href="#">Композиции</a></li>
        <li><a href="#">Подарки</a></li>
        <li><a href="#">Поводы</a></li>
        <li><a href="#">до 2000</a></li>
        <li><a href="#">Цветы</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__title">Праздники</h3>
      <ul class="footer__list">
        <li><a href="#">Акци</a></li>
        <li><a href="#">Розы</a></li>
        <li><a href="#">Букеты</a></li>
        <li><a href="#">Композиции</a></li>
        <li><a href="#">Подарки</a></li>
        <li><a href="#">Поводы</a></li>
        <li><a href="#">до 2000</a></li>
        <li><a href="#">Цветы</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__title">Поводы</h3>
      <ul class="footer__list">
        <li><a href="#">Акци</a></li>
        <li><a href="#">Розы</a></li>
        <li><a href="#">Букеты</a></li>
        <li><a href="#">Композиции</a></li>
        <li><a href="#">Подарки</a></li>
        <li><a href="#">Поводы</a></li>
        <li><a href="#">до 2000</a></li>
        <li><a href="#">Цветы</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__title">Мы в соц.сетях</h3>
      <ul class="footer__list socials">
        <li>
          <a href="#"><img src="{% static 'theme/mb/images/wh.svg' %}" alt="" /></a>
        </li>
        <li>
          <a href="#"><img src="{% static 'theme/mb/images/wh.svg' %}" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="cart-popup">
  <div class="cart-popup__close">X</div>
  <div class="cart-popup__content">
    <div class="cart-popup__item">
      <div class="cart-popup__close-item">X</div>
      <p>Цветы сакуры</p>

    </div>
  </div>
</div>