{% load static %}{% load carts_tag %}{% user_carts request as carts %}
<div class="mini-cart" id="mini-cart">
  <button type="button" class="mini-cart__close" id="close-cart"
    aria-label="Закрыть мини корзину"><span></span></button>

  <div class="mini-cart__inner" id="mini-cart__inner">
    <h4 class="mini-cart__title">Корзина<span>(</span><strong id="mini-cart-count">
        {{ carts.total_quantity }}
      </strong><span>)</span></h4>
    <div class="mini-cart__inner" id="cart-item">{% include "components/cart-item.html" %}</div>

    <!-- <div class="mini-cart__empty" id="mini-cart__empty">
      <p class="mini-cart__empty-text">Корзина пуста</p>
      <a href="{% url 'category' %}" class="mini-cart__empty-link">Перейти в каталог</a>
    </div>
  </div> -->
  </div>