{% load static %}
<div class="popup" id="popup-one-click">
  <div class="popup__content">
    <button type="button" class="popup__close close-btn"></button>
    <div class="popup__body">
      <h3 class="popup__title">Заказ в один клик</h3>
      <div class="popup__product">
        <div class="popup__product-image">
          <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" title="" class="popup__product-img" />
        </div>
        <div class="popup__product-info">
          <p class="popup__product-name">Товар номер 1</p>
          <p class="popup__product-total"><span>Сумма: </span><span class="product__price-text">1990₽</span></p>
        </div>
      </div>
      <form action="{% url 'quick_order' %}" method="POST" class="popup__product-form form">
        {% csrf_token %} {{ form_quick.name }}{{ form_quick.phone }}{{ form_quick.goods }}
        <button type="submit" class="form__submit">Отправить</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="read-answer">
  <div class="popup__content">
    <button type="button" class="popup__close close-btn"></button>
    <div class="popup__body">
      <h2 class="popup__title">Будет ли букет соответствовать фото на сайте ?</h2>
      <div class="popup__answer">
        <span>Ответ:</span>
        <p class="popup__description">
          Обратите внимание, что букеты на картинках — это лишь примеры наших работ. Мы не повторяем букеты, каждый их них уникален, так как цветок — это живой организм, и найти
          два идентичных практически невозможно. Помимо этого мы оставляем себе свободу для творчества и возможности совершенствоваться и удивлять своих клиентов.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="popup" id="callback">
  <div class="popup__content">
    <h3 class="popup__title">Перезвоните мне</h3>
    <button type="button" class="popup__close close-btn"></button>
    <form action="{% url 'callback' %}" class="popup__form form" method="POST">
      {% csrf_token %} {{ form.name }} {{ form.phone }} {{ form.message }}
      <button type="submit" class="form__submit">Отправить</button>
    </form>
  </div>
</div>
