{% load static %} {% load thumbnail %}
<div class="index-catalog__card card" itemscope itemtype="http://schema.org/Product">
  <div class="card__image">
    {% if product.image %}
    {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
    <img itemprop="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
      class="product-click-image" />
    {% endthumbnail %}

    {% for image in product.images.all %} {% if forloop.counter == 2 and forloop.counter > 0 %}
    {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
    <img itemprop="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
      class="product-click-image" />
    {% endthumbnail %}
    {% else %}
    {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
    <img itemprop="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
      class="product-click-image" />
    {% endthumbnail %}
    {% endif %}
    {% endfor %}
    {% else %}
    <img itemprop="image" src="{% static 'theme/mb/images/no-image.png' %}" class="product-click-image" alt="" />
    {% endif %}
    <button type="button" class="card__click" id="one-click">Купить в один клик</button>
  </div>
  <div class="card__content">
    <a href="{{ product.get_absolute_url }}" class="card__title-h3" itemprop="name">{{ product.name }}</a>
    <div class="card__content-bottom">
      {% if product.sale_price %}
      <span class="card__price"><s>{{ product.price }}</s>
        <span class="card__price-number" itemprop="price">{{ product.sale_price }}</span>
        <span class="currency">₽</span></span>
      {% else %}
      <span class="card__price" itemprop="price">{{ product.price }} <span class="currency">₽</span></span>
      {% endif %}
      <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
        {% csrf_token %}
        <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
      </a>
      {% if product.quantity_purchase > 10 %}
      <button type="button" class="card__hit">
        <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
      </button>
      {% endif %} {% if product.discount %}
      <div class="card__stock">-{{ product.discount }}%</div>
      {% endif %}
      <button type="button" class="card__favorit">
        <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
      </button>
    </div>
  </div>
</div>