{% extends 'base.html' %} {% block content %}{% load static %}

<main class="page">
  <section class="products">
    <div class="products__container">
      <div class="products__top title-page">
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1" />
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            Категории
            <meta itemprop="position" content="2" />
          </span>
        </div>
        <h1 class="products__title title-page__title">Категории</h1>
      </div>
    </div>
  </section>
  <section class="index-category">
    <div class="index-catalog__inner">
      <div class="advantages__border borderDotted"></div>
      <div class="index-category__grid">
        {% if categorys %}{% for category in categorys %}
        <a href="{{ category.get_absolute_url }}" class="index-category__item" style="background-image: url()">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>
                {{ category.product_count }}
                {% if category.name == "Мягкая игрушка" %}Игрушек{% endif %}
                {% if category.name == "Горшечные растения" %}Растений{% endif %}
                {% if category.name == "Воздушные шары" %}Шаров{% endif %}
              </span>
            </div>
            <h3 class="index-category__title">{{ category.name }}</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="" />
            </div>
          </div>
        </a>
        {% endfor %} {% endif %}
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="contact__row">
      <div class="contact__container">
        <div class="contact__row-top">
          <div class="contact__row-label contact__row-dot">
            <h1>Контакты</h1>
          </div>
          <div class="contact__row-questions">
            <p>Остались вопросы ?</p>
          </div>
        </div>
        <div class="advantages__border borderDotted"></div>
        <div class="contact__row-bottom">
          <div class="contact__row-col">
            <span class="contact__row-label">Пишите</span>
            <a href="mailto:florens@mail.ru" class="contact__row-info">florens@mail.ru</a>
          </div>
          <div class="contact__row-col">
            <span class="contact__row-label">Звоните</span>
            <a href="tel:+79999999999" class="contact__row-info">8 (999) 999-99-99</a>
          </div>
          <div class="contact__row-col">
            <span class="contact__row-label">Приходите и приезжайте</span>
            <p class="contact__row-info">Россия, г.Город ул.Улица 23</p>
          </div>
        </div>
        <div class="advantages__border borderDotted"></div>
      </div>
    </div>
    <div class="contact__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac1cf0d6cb1a0a77d749e2c1f0f9e9897a548d46e6449e8291a14966d1c6c5cfd&amp;source=constructor"
        width="100%" height="500" frameborder="0"></iframe>
    </div>
  </section>
</main>

{% endblock %}