{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page-contact">
	<section class="contact">
		<div class="contact__row">
			<div class="contact__container">
				<div class="contact__row-top">
					<div class="contact__row-label contact__row-dot">
						<h1>Контакты</h1>
					</div>
					<div class="contact__row-questions">
						<p>Остались вопросы ?</p>
					</div>
					<!-- <svg fill="none" viewBox="0 0 88 176" id="css--union-nav" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M37 169a7 7 0 1014 0v-27.785c0-5.845 4.309-10.677 9.684-12.972 15.57-6.649 26.48-22.1 26.48-40.1 0-17.998-10.91-33.45-26.48-40.098C55.31 45.75 51 40.918 51 35.073V7a7 7 0 10-14 0v27.736c0 5.934-4.434 10.811-9.924 13.06C11.19 54.302 0 69.916 0 88.144c0 18.228 11.19 33.842 27.076 40.348 5.49 2.248 9.924 7.126 9.924 13.059V169z"
							fill="#FDFDFD" />
					</svg> -->
				</div>
				<div class="contact__row-bottom">
					<div class="contact__row-col">
						<span class="contact__row-label">Пишите</span>
						<a href="mailto:florens@mail.ru" class="contact__row-info">florens@mail.ru</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Звоните</span>
						<a href="tel:+79999999999" class="contact__row-info">8 (999) 999-99-99</a>
					</div>
					<div class="contact__row-col">
						<span class="contact__row-label">Приходите и приезжайте</span>
						<p class="contact__row-info">Россия, г.Город ул.Улица 23</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact__map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac1cf0d6cb1a0a77d749e2c1f0f9e9897a548d46e6449e8291a14966d1c6c5cfd&amp;source=constructor"
				width="100%" height="500" frameborder="0"></iframe>
		</div>
	</section>
</main>

</body>
{% endblock %}