{% extends 'base.html' %} {% load static %}{% load carts_tag %}{% load thumbnail %}{% block content %}
<main class="page index-page">
  <div class="index-slider">
    <div class="index-slider__slider swiper-container">
      <div class="swiper-wrapper">
        {% if slider_image %} {% for slide in slider_image %}
        <div class="index-slider__slide swiper-slide">
          {% thumbnail slide.image "1683x450" format="WEBP" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="index-slider__image" />
          {% endthumbnail %}
          <div class="index-slider__slide-inner">
            <div class="index-slider__content">
              <h1 class="index-slider__title">{{ slide.title }}</h1>
              <p class="index-slider__subtitle">{{ slide.description }}</p>
              {% if slide.link %}
              <a href="{{ slide.link }}" class="index-slider__link _btn">Подробнее об акции</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="swiper-pagination"></div>
      <button type="button" aria-label="Предыдущий слайд" class="index-slider__prev swiper-button-prev">
        <svg fill="none" viewBox="0 0 88 176" id="css--union-nav" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M37 169a7 7 0 1014 0v-27.785c0-5.845 4.309-10.677 9.684-12.972 15.57-6.649 26.48-22.1 26.48-40.1 0-17.998-10.91-33.45-26.48-40.098C55.31 45.75 51 40.918 51 35.073V7a7 7 0 10-14 0v27.736c0 5.934-4.434 10.811-9.924 13.06C11.19 54.302 0 69.916 0 88.144c0 18.228 11.19 33.842 27.076 40.348 5.49 2.248 9.924 7.126 9.924 13.059V169z"
            fill="#FDFDFD" />
        </svg>
      </button>
      <button type="button" aria-label="Следующий слайд" class="index-slider__next swiper-button-next">
        <svg fill="none" viewBox="0 0 88 176" id="css--union-nav" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M37 169a7 7 0 1014 0v-27.785c0-5.845 4.309-10.677 9.684-12.972 15.57-6.649 26.48-22.1 26.48-40.1 0-17.998-10.91-33.45-26.48-40.098C55.31 45.75 51 40.918 51 35.073V7a7 7 0 10-14 0v27.736c0 5.934-4.434 10.811-9.924 13.06C11.19 54.302 0 69.916 0 88.144c0 18.228 11.19 33.842 27.076 40.348 5.49 2.248 9.924 7.126 9.924 13.059V169z"
            fill="#FDFDFD" />
        </svg>
      </button>
    </div>
  </div>
  <section class="advantages">
    <!-- <h2 class="advantages__title _title-h2">Доставка цветов в Иркутске</h2> -->
    <div class="advantages__border borderDotted"></div>
    <div class="advantages__grid">
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/delivery.svg' %}" alt="" />
        </div>
        <span>Бесплатная доставка</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/bouquet.svg' %}" alt="" />
        </div>
        <span>Всегда только свежие букеты</span>
      </div>
      <div class="advantages__item">
        <div class="advantages__icon">
          <img src="{% static 'theme/mb/images/offer.svg' %}" alt="" />
        </div>
        <span>Скидка 10% при регистрации</span>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
  </section>
  {% if products %}
  <section class="index-catalog">
    <div class="index-catalog__inner">
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">Онлайн-витрина</h2>
        <div class="index-catalog__links">
          {% comment %} <a href="#" class="index-catalog__link">Лучшие предложения</a> {% endcomment %} {% comment %}
          <a href="{% url 'populate' %}" class="index-catalog__link">Выбор покупателей</a> {% endcomment %}
          <a href="{% url 'stock' %}" class="index-catalog__link">Акции</a>
          <a href="{% url 'category' %}" class="index-catalog__link">Весь каталог</a>
        </div>
      </div>
      <div class="index-catalog__cards cards-catalog">
        {% for product in products %}
        <div class="index-catalog__card card">
          <div class="card__image">
            {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
            {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %}
            {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="product-click-image" />
            {% endthumbnail %} {% endif %} {% endfor %} {% else %}
            <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" class="product-click-image" />
            {% endif %}
            <button type="button" class="card__click" id="one-click">Быстрый заказ</button>
          </div>
          <div class="card__content">
            <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
            <div class="card__content-bottom">
              {% if product.sale_price %}
              <span class="card__price"><s>{{ product.price }}</s>
                <span class="card__price-number">{{ product.sale_price }}</span>
                <span class="currency">₽</span></span>
              {% else %}
              <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
              {% endif %}
              <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                {% csrf_token %}
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </a>
              {% if product.quantity_purchase > 10 %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              {% endif %} {% if product.discount %}
              <div class="card__stock">-{{ product.discount }}%</div>
              {% endif %}
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %} {% if affordable %}
  <section class="index-catalog">
    <div class="index-catalog__inner">
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">Недорогие товары</h2>
      </div>
      <div class="index-catalog__cards cards-catalog">
        {% for product in affordable %}
        <div class="index-catalog__card card">
          <div class="card__image">
            {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %}
            {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% endif %} {% endfor %} {% else %}
            <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" />
            {% endif %}
            <button type="button" class="card__click" id="one-click">Быстрый заказ</button>
          </div>
          <div class="card__content">
            <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
            <div class="card__content-bottom">
              {% if product.sale_price %}
              <span class="card__price"><s>{{ product.price }}</s>
                <span class="card__price-number">{{ product.sale_price }}</span>
                <span class="currency">₽</span></span>
              {% else %}
              <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
              {% endif %}
              <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                {% csrf_token %}
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </a>
              {% if product.quantity_purchase > 10 %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              {% endif %} {% if product.discount %}
              <div class="card__stock">-{{ product.discount }}%</div>
              {% endif %}
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %} {% if saleProduct %}
  <section class="index-catalog">
    <div class="index-catalog__inner">
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">Акции</h2>
        <div class="index-catalog__links">
          <a href="{% url 'stock_product' %}" class="index-catalog__link">Товары по акции</a>
        </div>
      </div>
      <div class="index-catalog__cards cards-catalog">
        {% for product in saleProduct %}
        <div class="index-catalog__card card">
          <div class="card__image">
            {% if product.image %} {% thumbnail product.image "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% for image in product.images.all %} {% if forloop.counter == 2 %}
            {% thumbnail image.src "368x350" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% endif %} {% endfor %} {% else %}
            <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" />
            {% endif %}
            <button type="button" class="card__click" id="one-click">Быстрый заказ</button>
          </div>
          <div class="card__content">
            <a href="{{ product.get_absolute_url }}" class="card__title-h3">{{ product.name }}</a>
            <div class="card__content-bottom">
              {% if product.sale_price %}
              <span class="card__price"><s>{{ product.price }}</s>
                <span class="card__price-number">{{ product.sale_price }}</span>
                <span class="currency">₽</span></span>
              {% else %}
              <span class="card__price">{{ product.price }} <span class="currency">₽</span></span>
              {% endif %}
              <a href="{% url 'cart_add' %}" class="card__cart add-to-cart" data-product-id="{{ product.id }}">
                {% csrf_token %}
                <img src="{% static 'theme/mb/images/cart.svg' %}" alt="" />
              </a>
              {% if product.quantity_purchase > 10 %}
              <button type="button" class="card__hit">
                <img src="{% static 'theme/mb/images/hit.svg' %}" alt="" />
              </button>
              {% endif %} {% if product.discount %}
              <div class="card__stock">-{{ product.discount }}%</div>
              {% endif %}
              <button type="button" class="card__favorit">
                <img src="{% static 'theme/mb/images/favorit.svg' %}" alt="" />
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  <section class="index-category">
    <div class="index-catalog__inner">
      <div class="advantages__border borderDotted"></div>
      <div class="index-catalog__head">
        <h2 class="index-catalog__title _title-h2">Категории</h2>
        <div class="index-catalog__links">
          <a href="{% url 'category' %}" class="index-catalog__link">Перейти в категории</a>
        </div>
      </div>
      <div class="advantages__border borderDotted"></div>
      <div class="index-category__grid">
        {% if categorys %} {% for category in categorys %}
        <a href="{{ category.get_absolute_url }}" class="index-category__item"
          style="background-image: url({% if category.image %}{{ category.image }}{% endif %})">
          <div class="index-category__item-col">
            <div class="index-category__item-top">
              <span>{{ category.product_count }}</span>
            </div>
            <h3 class="index-category__title">{{ category.name }}</h3>
          </div>
          <div class="index-category__item-col">
            <div class="index-category__arrow">
              <img src="{% static 'theme/mb/images/chevron-right.svg' %}" alt="" />
            </div>
          </div>
        </a>
        {% endfor %} {% endif %}
      </div>
    </div>
  </section>

  <section class="index-about">
    <div class="advantages__border borderDotted"></div>
    <div class="index-catalog__head">
      <h2 class="index-catalog__title _title-h2">О нашем магазине</h2>
      <div class="index-catalog__links">
        <a href="{% url 'about' %}" class="index-catalog__link">Подробнее</a>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
    <div class="index-about__text">
      <p>
        Наш интернет магазин осуществляет доставку цветов и подарков. Мы помогаем людям со всего мира быть ближе с их
        родными и близкими, проживающими в Иркутске и Иркутской
        области. У нас работают лучшие флористы, которые внимательно относятся к каждому цветку. Соберут для вас букеты
        любой сложности, на любой вкус и случай. Команда вежливых
        курьеров, понимающих важность своевременной доставки.
      </p>
      <p>
        У нас имеется программа лояльности и накопительная система скидок. Мы готовы прислать фото готового букета, а
        также фото с получателем. Гарантируем конфиденциальность.
        Получатель узнает только то, что написано в открытке.
      </p>
    </div>
    <div class="index-about__slider swiper">
      <div class="swiper-wrapper">
        {% if slide_about %} {% for slide in slide_about %}
        <div class="index-about__slide swiper-slide">
          {% thumbnail slide.image "1783x1188" format="WEBP" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width}}" height="im.height" alt="Слайд {{ forloop.counter}}"
            title="Слайд {{ forloop.counter}}" />
          {% endthumbnail%}
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="faq">
    <div class="advantages__border borderDotted"></div>
    <div class="index-catalog__head">
      <h2 class="index-catalog__title _title-h2">Вопросы и ответы</h2>
      <div class="index-catalog__links">
        <a href="{% url 'questions' %}" class="index-catalog__link">Все ответы</a>
      </div>
    </div>
    <div class="advantages__border borderDotted"></div>
    <div class="faq__grid">
      {% if questions %} {% for question in questions %}
      <div class="faq__item">
        <p class="faq__item-title">{{ question.title }}</p>
        <button type="button" class="read-answer">
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </button>
        <div class="faq__item-description">{{ question.description }}</div>
      </div>
      {% endfor %} {% endif %}
      <a href="{% url 'questions' %}" class="faq__item faq__item--last">
        Читать все вопросы и ответы
        <span>
          <svg fill="none" viewBox="0 0 12 12" id="icons--card-arrow" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.95.95a.831.831 0 000 1.175l8.922 8.922a.831.831 0 101.175-1.175L2.125.95A.831.831 0 00.95.95zm10.058.985a.84.84 0 00-.844.844l.029 5.403a2 2 0 01-2.01 2.01l-5.404-.028a.84.84 0 10-.008 1.68l7.1.037a2 2 0 002.01-2.01l-.037-7.1a.84.84 0 00-.836-.836z"
              fill="#F3F3F2" />
          </svg>
        </span>
      </a>
    </div>
  </section>

  <section class="callback">
    <div class="callback__container">
      <div class="callback__row">
        <h2 class="callback__title _title-h2">
          Не нашли то, что искали <br />
          Мы поможем вам в выборе!
        </h2>
        <p class="callback__subtitle">
          Оставьте номер телефона. <br />
          Флорист свяжется с вами и подберет букет по вашему пожеланию.
        </p>
        <button type="button" class="callback__btn" data-popup="callback"
          aria-label="Заказать обратный звонок">Связаться со мной</button>
      </div>
    </div>
  </section>
</main>
{% endblock %}