<div class="footer">
  <div class="footer__row">
    <div class="footer__col">
      <a href="/" class="footer__logo">Florens</a>
      <div class="footer__requisites">
        <h3 class="footer__requisites-title">Реквизиты компании</h3>
        <p>ИП Ткачова Анна Сергеевна</p>
        <p>Юр. адрес: Иркутск, Байкальская 147</p>
        <p>Факт. адрес: Иркутск, Байкальская 147</p>
        <p>БИК 044525104</p>
      </div>
    </div>
    <div class="footer__col">
      <p class="footer__title">Каталог</p>
      <ul class="footer__list">
        <li><a href="#">Акции</a></li>
        <li><a href="#">Розы</a></li>
        <li><a href="#">Букеты</a></li>
        <li><a href="#">Композиции</a></li>
        <li><a href="#">До 2000</a></li>
        <li><a href="#">Популярное</a></li>
        <li><a href="#">Дучшие предложения</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <p class="footer__title">Разделы сайта</p>
      <ul class="footer__list">
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Вопросы - ответы</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <p class="footer__title">Контакты</p>
      <ul class="footer__list">
        <li><a href="#">+7 (999) 999-99-99</a></li>
        <li><a href="#">florens@mail.ru</a></li>
      </ul>
      <div class="footer__social">
        <a href="#"><i class="fa-brands fa-vk"></i></a>
        <a href="#"><i class="fa-brands fa-square-whatsapp"></i></a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">2024. Все права защищены</p>
    <a href="#" class="footer__author">Разработка сайта | РА АВРОРА</a>
  </div>
</div>