<div class="footer">
  <div class="footer__row">
    <div class="footer__col">
      <a href="/" class="footer__logo">Florens</a>
      <div class="footer__requisites">
        <h3 class="footer__requisites-title">Реквизиты компании</h3>
        <p>ИП Ткачова Анна Сергеевна</p>
        <p>Юр. адрес: Иркутск, Байкальская 147</p>
        <p>ИНН 380894559223</p>
        <p>ОГРНИП 314385005500053</p>
      </div>
    </div>
    <div class="footer__col">
      <p class="footer__title">Каталог</p>
      <ul class="footer__list">
        <!-- <li><a href="#">Акции</a></li> -->
        <li><a href="/category/buketyi-iz-roz/">Розы</a></li>
        <li><a href="/category/">Букеты</a></li>
        <!-- <li><a href="#">Композиции</a></li> -->
      </ul>
    </div>
    <div class="footer__col">
      <p class="footer__title">Разделы сайта</p>
      <ul class="footer__list">
        <!-- <li><a href="#">До 2000</a></li> -->
        <li><a href="/populate/">Популярное</a></li>
        <li><a href="/best-offer/">Лучшие предложения</a></li>
        <!-- <li><a href="#">Отзывы</a></li> -->
        <!-- <li><a href="#">Оплата</a></li> -->
        <!-- <li><a href="#">Вопросы - ответы</a></li> -->
        <li><a href="{% url 'contact' %}">Контакты</a></li>
        <!-- <li><a href="#">Политика конфиденциальности</a></li> -->
      </ul>
    </div>
    <div class="footer__col">
      <p class="footer__title">Контакты</p>
      <ul class="footer__list">
        {% if site_settings.phone %}
        <li><a href="tel:{{ site_settings.phone }}">{{ site_settings.phone }}</a></li>
        {% endif %} {% if site_settings.email %}
        <li><a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a></li>
        {% endif %}
      </ul>
      <div class="footer__social">
        {% if site_settings.vk %}
        <a href="{{ site_settings.vk }}"><i class="fa-brands fa-vk"></i></a>
        {% endif %} {% if site_settings.phone_whatsapp %}
        <a href="{{ site_settings.phone_whatsapp }}"
          ><i class="fa-brands fa-square-whatsapp"></i
        ></a>
        {% endif %} {% if site_settings.viber %}
        <a href="{{ site_settings.viber }}"><i class="fa-brands fa-viber"></i></a>
        {% endif %} {% if site_settings.instagram %}
        <a href="{{ site_settings.instagram }}"><i class="fa-brands fa-instagram"></i></a>
        {% endif %} {% if site_settings.telegram %}
        <a href="{{ site_settings.telegram }}"><i class="fa-brands fa-telegram"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">2024. Все права защищены</p>
    <a href="https://xn----7sbah6bllcobpj.xn--p1ai/" target="_blank" class="footer__author"
      >Разработка сайта | РА АВРОРА</a
    >
  </div>
</div>
